/* Connect 4 CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100vh;
    font-size: 20px;
}

body{
    background-color: #B3E5FC;
}

button{
    box-shadow: 3px 3px rgb(0, 0, 0, 0.441);
    background-color: #ffe5b4; 
}

.github{
    color: white;
    font-size: 3em;
}

.top-page{
    margin-left: 10%;
    margin-right: 10%;
}

.game-board{
    padding-bottom: 2.5rem;
    margin: 0;
    box-sizing: border-box;

}

.container{
    background-color: rgb(255, 195, 11);
    border: 2px solid black;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.441);
    width: 650px;
    height: 525px;
    padding: 1.5rem;
    cursor: pointer;
}

.slot {
    height: 75px;
    width: 75px;
    background-color: rgb(255,250, 250);
    border-radius: 50%;
    border: 2px solid black;
}

.reset {
    background-color: pink;
}

.score{
    background-color: rgb(255,250, 250);
}

.endgame {
    display: none;
    width: 200px;
    top: 900px;
    background-color: rgba(255,195, 11, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
  }

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-size: 12px;
}
